.about-card {
	border-radius: 5%;
	border-style: solid;
    border-width: 1.5px;
    border-color: grey;
}

.about-card-img {
	overflow: hidden;
	border-radius: 5%;
}

.about-card-name {
	font-weight: bold;
}

.about-card-description {
	font-weight: normal;

}