.intro{
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
}

.intro h1 {
    font-size: 60px;
    color:#fff;
    position: relative;
    left: 0;
    top: 30%;
    width: 66%;
    margin-left: 20%;
}

.intro p {
    font-size: 30px;
    color:#fff;
    position: relative;
    left: 0;
    top: 38%;
    width: 66%;
    margin-left: 20%;
}

.emptySpace{
    width: 100%;
    height: 120px;
}