<!DOCTYPE html>
<html>
    <body>
        <h1>ABOUT TACOBOUTAUSTIN API</h1>
        <p>Tacoboutaustin API is a service that provides RESTful APIs to retrieve information about hotels, restaurants,
        and attractions in Austin to developers.</p>
        <h2> Endpoints </h2> 
        <ul style="list-style-type:circle">
            <li><a href="http://api.tacoboutaustin.me/attractions">/attractions</a> search for all attractions</li>
            <li><a href="http://api.tacoboutaustin.me/attractions/1">attractions/{id}</a>/ search for attraction with id = {id}</li>
            <li><a href="http://api.tacoboutaustin.me/restaurants">/restaurants</a> search for all restaurants</li>
            <li><a href="http://api.tacoboutaustin.me/restaurants/0">/restaurants/{id}</a> search for restaurant with id = {id}</li>
            <li><a href="http://api.tacoboutaustin.me/hotels">/hotels</a> search for all hotels</li>
            <li><a href="http://api.tacoboutaustin.me/hotels/0">/hotels/{id}</a> search for hotel with id = {id}</li>
            <li><a href="http://api.tacoboutaustin.me/categories">/categories</a> search for all categories</li>
            <li><a href="http://api.tacoboutaustin.me/zipcodes">/zipcodes</a> search for all zip codes</li>
        </ul>
        <h2>Status Codes and Error Messages</h2>
        <p>In the response JSON file, the field status indicates the status and also error messages of the request:</p>
          
        <ul style="list-style-type:circle">
            <li>"OK"          : every thing is ok</li>
            <li>"INVALID_ID"  : the given id was found in the database</li>
        </ul>
    </body>
</html>
